<%- include ('./partiels/erreurs_msg') %>
<h1 class="text-center">Ajouter un usager</h1>
<form action="/usagers/ajouter" method="POST" enctype="multipart/form-data">
  <div class="form-wrapper">
    <div class="form-group">
      <input
        type="email"
        class="form-control"
        name="login"
        id="login"
        aria-describedby="emailHelp"
        placeholder="Login"
        value="<%= typeof login != 'undefined' ? login : '' %>"
      />
      <input
        type="email"
        class="form-control"
        name="login"
        id="login"
        aria-describedby="emailHelp"
        placeholder="Login"
        value="<%= typeof login != 'undefined' ? login : '' %>"
      />
    </div>
    <div class="form-group">
      <input
        type="password"
        class="form-control"
        id="password"
        name="password"
        placeholder="Mot de passe"
        value="<%= typeof password != 'undefined' ? password : '' %>"
      />
      <input
        type="password"
        class="form-control"
        name="password2"
        id="password2"
        placeholder="Confirmez le mot de passe"
        value="<%= typeof password2 != 'undefined' ? password2 : '' %>"
      />
    </div>
    <div class="form-group">
      <div>Rôles</div>
      <div class="checkbox-wrapper">
        <div class="form-check form-check-inline">
          <label class="form-check-label" for="normal">Normal</label>
          <input
            type="checkbox"
            class="form-check-input"
            id="normal"
            checked
            disabled
          />
        </div>
        <div class="form-check form-check-inline">
          <label class="form-check-label" for="admin">Admin</label>
          <input type="checkbox" class="form-check-input" id="admin"
          name="admin" <%= typeof admin != 'undefined' ? 'checked' : '' %> />
        </div>
        <div class="form-check form-check-inline">
          <label class="form-check-label" for="gestion">Gestion</label>
          <input type="checkbox" class="form-check-input" id="gestion"
          name="gestion" <%= typeof gestion != 'undefined' ? 'checked' : '' %>
          />
        </div>
      </div>
    </div>
    <button type="submit" class="btn btn-success">Ajouter l'usager</button>
  </div>
</form>
