<% let admin = user && user.role.includes('admin'); %>

<div class="container">
  <div class="row" style="margin: 5%">
    <% articles.forEach(function(article) { %>
      <div class="col mb-5">
        <div
        class="card style-cards liste-article-card-body-style-card"
        style="width: 13rem"
      >
        <!--<div class="card-img-top" style="background-image: url('<%= article.imageFond %>')"></div>-->
        <div class="card-body liste-article-card-body">
          <h5 class="card-title" style="text-align: center; color: white"><%= article.nom %></h5>
          <!--<img
            src="<%= article.image %>"
            class="card-img-top ajouter-article-card-img"
            alt="Image de <%= article.nom %>"
          />-->
          <p class="card-price" style="text-align: center; color: white"><strong><%= article.prix %> $</strong></p>
          <h5 class="card-title text-center"><%= article.nom %></h5>
          <!--<img src="/images/<%= article.imageFond %>" class="card-img-top" alt="Image de <%= article.nom %>" style="width: 100%; max-height: 200px; object-fit: cover" />-->
          <p class="card-price text-center">
            <strong><%= article.prix %> $</strong>
          </p>
          <% if (admin) { %>
            <div class="card-buttons d-flex justify-content-around">
            <a
              href="/articles/supprimer/<%= article._id %>"
              onclick="return confirm('Etes-vous certain de vouloir supprimer <%= article.nom %>?');"
            >
              <i class="fa-solid fa-trash-can liste-article-on-hover"
              style="color: white"></i>
            </a>
            <a
              href="/articles/editer/<%= article._id %>"
            >
              <i class="fa fa-pencil-alt fa-fw liste-article-on-hover"
              style="color: white"></i>
            </a>
          </div>

          <% } else { %>
          <div class="card-buttons">
            <a href="#" class="btn btn-primary">Ajouter au panier</a>
          </div>
          <% } %>
        </div>
      </div>
    </div>
    <% }); %>
  </div>
</div>

<div class="full-height">
  <div class="container pt-4 pt-xl-5 pb-xl-5 articles_container">
    <div class="row pt-5 pb-5">
      <div class="col" style="text-align: left"></div>
    </div>
  </div>
</div>
