<div class="article-editer-container">
  <%- include ('./partiels/erreurs_msg') %>

  <h4 class="text-center"><%= article && article.marque ? article.marque : '' %> <%= article.nom %></h4>
  <form action="/articles/editer" method="POST" enctype="multipart/form-data">
    
    <div class="form-wrapper">
      <div class="form-group">
        <input
          type="text"
          name="nom"
          id="nom"
          value="<%= article && article.nom ? article.nom : '' %>"
          placeholder="Nom"
          class="form-control"
        />
      </div>
      
      <div class="form-group">
        <input
          type="file"
          name="imageFond"
          id="imageFond"
          value="<%= article && article.imageFond ? article.imageFond : '' %>"
          placeholder="Image de fond"
          class="form-control"
        />
      </div>
      
      <div class="form-group">
        <select name="marque" id="marque" class="form-control">
          <option value="">Marque</option>
          <option value="ASUS">ASUS</option>
          <option value="NVIDIA">NVIDIA</option>
          <option value="PowerColor (Tul)">PowerColor (Tul)</option>
          <option value="Sapphire">Sapphire</option>
          <option value="Leadtek">Leadtek</option>
          <option value="HIS">HIS</option>
          <option value="AMD">AMD</option>
          <option value="GIGABYTE">GIGABYTE</option>
        </select>
      </div>
      
      <div class="form-group">
        <input
        class="form-control"
          type="number"
          name="prix"
          id="prix"
          value="<%= article && article.prix ? article.prix : '' %>"
          placeholder="Prix"
        />
      </div>
      
      <div class="form-group">
        <textarea
          name="details"
          id="details"
          placeholder="Listez les détails"
        ><%= article && article.details ? article.details : '' %></textarea>
      </div>
      
    
      <div >
        <button type="submit" class="btn btn-success">
          Modifier l'article
        </button>
      </div>
    </div>
  </form>
</div>
</div>

