
<div>
  <%- include ('./partiels/erreurs_msg') %>
  
  <div
    class="border-secondary d-flex flex-column justify-content-center align-items-center"
  >
  <div class="bg-dark" style="background-color: rgba(0, 0, 0, 0.5)">
    <div class="border border-secondary">
  <h3 class="text-center"><%= article && article.marque ? article.marque : '' %> <%= article.nom %></h3>
  <form action="/articles/editer" method="POST" enctype="multipart/form-data">
    
      
      
      <div class="form-group">
        <input
          type="text"
          name="nom"
          id="nom"
          value="<%= article && article.nom ? article.nom : '' %>"
          placeholder="Nom"
          
        />
      </div>
      
      <div class="form-group">
        <input
          type="file"
          name="imageFond"
          id="imageFond"
          value="<%= article && article.imageFond ? article.imageFond : '' %>"
          placeholder="Image de fond"
         
        />
      </div>
      
      <div class="form-group">
        <select name="marque" id="marque">
          <option value="">Marque</option>
          <option value="ASUS">ASUS</option>
          <option value="NVIDIA">NVIDIA</option>
          <option value="PowerColor (Tul)">PowerColor (Tul)</option>
          <option value="Sapphire">Sapphire</option>
          <option value="Leadtek">Leadtek</option>
          <option value="HIS">HIS</option>
          <option value="AMD">AMD</option>
          <option value="GIGABYTE">GIGABYTE</option>
        </select>
      </div>
      
      <div class="form-group">
        <input
          type="number"
          name="prix"
          id="prix"
          value="<%= article && article.prix ? article.prix : '' %>"
          placeholder="Prix"
         
        />
      </div>
      
      <div class="form-group">
        <textarea
          name="details"
          id="details"
          placeholder="Listez les détails"
        ><%= article && article.details ? article.details : '' %></textarea>
      </div>
      
    
      <div class="d-flex justify-content-center">
        <button type="submit" class="btn btn-success">
          Modifier l'article
        </button>
      </div>
    
  </form>
</div>
</div>
</div>

  <a href="/menu" class="btn btn-secondary col-2">Retour au menu</a>
</div>

