<main class="boutique-main">
  <div class="container boutique-searchbar-container">
    <div class="row my-3 justify-content-center">
      <div class="col-md-4">
        <form class="d-flex">
          <input
            class="form-control me-2 barre-de-recherche"
            type="search"
            placeholder="Recherche"
            aria-label="Recherche"
            id="searchBar"
          />
          <button class="btn btn-outline-success" type="submit">
            <i class="fas fa-search"></i>
          </button>
        </form>
      </div>
      <div class="col-md-4">
        <div class="dropdown">
          <button
            class="btn btn-outline-secondary dropdown-toggle barre-de-recherche btn-outline-success hover-dropdown"
            type="button"
            id="dropdownMenuButton1"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <i class="fas fa-filter"></i>
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li>
              <a class="dropdown-item" href="#" id="filterPriceHighToLow"
                >Trier par prix - Haut à Bas</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="#" id="filterPriceLowToHigh"
                >Trier par prix - Bas à Haut</a
              >
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-4">
        <div class="dropdown">
          <button
            class="btn btn-outline-secondary dropdown-toggle barre-de-recherche btn-outline-success hover-dropdown"
            type="button"
            id="dropdownMenuButton2"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <i class="bi bi-list-ul"></i> Marque
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
            <li><a class="dropdown-item" href="#" id="brandASUS">ASUS</a></li>
            <li>
              <a class="dropdown-item" href="#" id="brandNVIDIA">NVIDIA</a>
            </li>
            <li><a class="dropdown-item" href="#" id="brandAMD">AMD</a></li>
            <li>
              <a class="dropdown-item" href="#" id="brandGIGABYTE">GIGABYTE</a>
            </li>
            <li>
              <a class="dropdown-item" href="#" id="brandPowerColor"
                >PowerColor (TUL)</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="#" id="brandSapphire">Sapphire</a>
            </li>
            <li>
              <a class="dropdown-item" href="#" id="brandLeadTek">LeadTek</a>
            </li>
            <li><a class="dropdown-item" href="#" id="brandHIS">HIS</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <% articles.forEach(function(article) { %>
  <div
    class="container boutique-article-container"
    style="
      background: #000 center/cover url('/images/<%= article.imageFond %>')
        no-repeat;
    "
  >
    <div class="container">
      <div class="product-wrapper">
        <h1><%= article.nom %></h1>
        <ul class="product-text">
          <li><%= article.details %></li>

          <p><%= article.prix %></p>
        </ul>
        <div class="button" id="button">
          <div id="slide"></div>
          <a href="#" class="ajout">J'achète</a>
        </div>
      </div>
    </div>
  </div>
  <% }); %>
</main>
<script>
  const panier = [];

  document.querySelectorAll(".ajout").forEach((ajout) => {
    ajout.addEventListener("click", function (e) {
      e.preventDefault();
      const parent_button = ajout.parentElement;
      const bg = parent_button.closest(".boutique-article-container");
      const bgStyles = window.getComputedStyle(bg);
      const bgImage = bgStyles.backgroundImage;

      const article = {
        nom: parent_button.parentNode.querySelector("h1").innerHTML,
        details: parent_button.parentNode.querySelector("li").innerHTML,
        prix: parent_button.parentNode.querySelector("p").innerHTML,
        imageFond: bgImage.slice(5, -1),
      };

      panier.push(article);

      // Send the panier variable to the server using AJAX
      const xhr = new XMLHttpRequest();
      xhr.open("POST", "/checkout");
      xhr.setRequestHeader("Content-Type", "application/json");
      xhr.send(JSON.stringify({ panier: panier }));

      xhr.onload = function () {
        if (xhr.status === 200) {
          window.location.href = "/checkout?panier=" + JSON.stringify(panier);
        }
      };
    });
  });

  document.querySelectorAll(".hover-dropdown").forEach((button) => {
    const menu = button.nextElementSibling;

    button.addEventListener("mouseenter", () => {
      menu.style.display = "block";
    });

    button.addEventListener("mouseleave", (e) => {
      setTimeout(() => {
        if (!menu.matches(":hover")) {
          menu.style.display = "none";
        }
      }, 300);
    });

    menu.addEventListener("mouseleave", () => {
      menu.style.display = "none";
    });
  });
</script>
<!-- <script>
  // const articles = JSON.parse('<%- JSON.stringify(articles, (key, value) => typeof value === "string" ? value.replace(/'/g, "\\'") : value) %>');
  const ajout = document.getElementById("ajout");
  const parent_button = document.getElementById("button");
  const bg = document.getElementsByClassName("boutique-article-container")[0];
  const bgStyles = window.getComputedStyle(bg);
  const bgImage = bgStyles.backgroundImage;
  const panier = [];

  // const searchBar = document.getElementById("searchBar");
  // const filterPriceHighToLow = document.getElementById("filterPriceHighToLow");
  // const filterPriceLowToHigh = document.getElementById("filterPriceLowToHigh");
  // console.log("articles 119", articles);

  // // Brand filters
  // const brandFilters = [
  //   "brandASUS",
  //   "brandNVIDIA",
  //   // ...
  // ].map((id) => document.getElementById(id));

  // searchBar.addEventListener("input", updateFilteredArticles);
  // filterPriceHighToLow.addEventListener("click", updateFilteredArticles);
  // filterPriceLowToHigh.addEventListener("click", updateFilteredArticles);
  // brandFilters.forEach((filter) =>
  //   filter.addEventListener("click", updateFilteredArticles)
  // );

  // let filteredArticles = articles;

  // function updateFilteredArticles() {
  //   const searchQuery = searchBar.value.toLowerCase();
  //   const sortByPrice = filterPriceHighToLow.classList.contains("active")
  //     ? "highToLow"
  //     : filterPriceLowToHigh.classList.contains("active")
  //     ? "lowToHigh"
  //     : null;
  //   const selectedBrand = brandFilters.find((filter) =>
  //     filter.classList.contains("active")
  //   );

  //   filteredArticles = articles.filter((article) => {
  //     // Filter by search query
  //     if (
  //       searchQuery &&
  //       !article.nom.toLowerCase().includes(searchQuery) &&
  //       !article.details.toLowerCase().includes(searchQuery)
  //     ) {
  //       return false;
  //     }

  //     // Filter by brand
  //     if (
  //       selectedBrand &&
  //       article.marque.toLowerCase() !== selectedBrand.textContent.toLowerCase()
  //     ) {
  //       return false;
  //     }

  //     return true;
  //   });

  //   // Sort by price
  //   if (sortByPrice === "highToLow") {
  //     filteredArticles.sort((a, b) => b.prix - a.prix);
  //   } else if (sortByPrice === "lowToHigh") {
  //     filteredArticles.sort((a, b) => a.prix - b.prix);
  //   }

  //   displayFilteredArticles();
  // }

  // function displayFilteredArticles() {
  //   const boutiqueArticleContainer = document.querySelector(
  //     ".boutique-article-container"
  //   );

  //   // Remove existing article elements
  //   while (boutiqueArticleContainer.firstChild) {
  //     boutiqueArticleContainer.removeChild(boutiqueArticleContainer.firstChild);
  //   }

  //   // Create new article elements based on filteredArticles
  //   filteredArticles.forEach((article) => {
  //     // Create your article element here, similar to what you have in your EJS template
  //     // For example:
  //     const articleElement = document.createElement("div");
  //     articleElement.innerHTML = `
  //       <h1>${article.nom}</h1>
  //       <ul class="product-text">
  //         <li>${article.details}</li>
  //         <p>${article.prix}</p>
  //       </ul>
  //       <!-- ... -->
<!-- //     `; -->

<!-- //     boutiqueArticleContainer.appendChild(articleElement);
  //   });
  // }

  ajout.addEventListener("click", function (e) {
    e.preventDefault();
    const article = {
      nom: parent_button.parentNode.querySelector("h1").innerHTML,
      details: parent_button.parentNode.querySelector("li").innerHTML,
      prix: parent_button.parentNode.querySelector("p").innerHTML,
      imageFond: bgImage.slice(5, -1),
    };
    panier.push(article);

    // Send the panier variable to the server using AJAX
    const xhr = new XMLHttpRequest();
    xhr.open("POST", "/checkout");
    xhr.setRequestHeader("Content-Type", "application/json");
    xhr.send(JSON.stringify({ panier: panier }));

    xhr.onload = function () {
      if (xhr.status === 200) {
        window.location.href = "/checkout?panier=" + JSON.stringify(panier);
      }
    };
  });
  document.querySelectorAll(".hover-dropdown").forEach((button) => {
    const menu = button.nextElementSibling;

    button.addEventListener("mouseenter", () => {
      menu.style.display = "block";
    });

    button.addEventListener("mouseleave", (e) => {
      setTimeout(() => {
        if (!menu.matches(":hover")) {
          menu.style.display = "none";
        }
      }, 300);
    });

    menu.addEventListener("mouseleave", () => {
      menu.style.display = "none";
    });
  });
</script> -->
