 <% let admin = user.role.includes('admin'); %> 
<h1 class="text-center">Liste des usagers</h1>
<div class="container">
  <div class="row">
    <div class="col-12">
      <table class="table table-image">
        <thead>
          <% usagers.forEach(function(usager) { %>
          <tr>
            <th scope="col">Avatar</th>
            <th scope="col">Login</th>
            <th scope="col">Nom</th>
            <th scope="col">Roles</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="w-25">
              <img
                src="/images/<%=usager.fichierImage%>"
                class="img-fluid img-thumbnail"
                alt="Avatar"
              />
            </td>
            <th scope="row"><%= usager.login %></th>
            <td><%= usager.nom %></td>
            <td>
              <%= usager.role.length > 1 ? '(': '' %> <%=
              usager.role.indexOf('admin')!==-1?'A':'' %> <%=
              usager.role.indexOf('vendeur')!==-1?'V':'' %> <%=
              usager.role.length > 1 ? ')': '' %>
            </td>
            <td>
              <% if (admin) { %>
              <a
                href="/usagers/supprimer/<%= usager._id %>"
                onclick="return confirm('Etes-vous certain de vouloir supprimer cette fiche?');"
                ><i class="fa fa-trash"></i
              ></a>
              <a href="/usagers/editer/<%= usager._id %>"
                ><i class="fa fa-pencil-alt fa-fw"></i
              ></a>

              <% } %>
            </td>
          </tr>
          <% }); %>
        </tbody>
      </table>
    </div>
  </div>
</div>