<% let admin = user && user.role.includes('admin'); %>

<div class="container">
  <div class="row" style="margin: 5%">
    <% usagers.forEach(function(usager) { %>
    <div class="col mb-5">
      <div
        class="card style-cards liste-usager-card-body-style-card"
        style="width: 13rem"
      >
        <div class="card-body liste-usager-card-body">
          <h5 class="card-title" style="text-align: center; color: white">
            <%= usager.nom %>
          </h5>
          <p class="card-price" style="text-align: center; color: white">
            <strong><%= usager.login %></strong>
          </p>
          <div>
            <h5 style="text-align: center; color: white">
              <strong>Rôles</strong>
            </h5>
            <p class="card-price" style="text-align: center; color: white">
              <%= usager.role %>
            </p>
          </div>
          <% if (admin) { %>
          <div class="card-buttons d-flex justify-content-around">
            <a
              href="/usagers/supprimer/<%= usager._id %>"
              onclick="return confirm('Etes-vous certain de vouloir supprimer <%= usagers.id %>?');"
            >
              <i
                class="fa-solid fa-trash-can liste-usager-on-hover"
                style="color: white"
              ></i>
            </a>
            <a href="/usagers/editer/<%= usager._id %>">
              <i
                class="fa fa-pencil-alt fa-fw liste-usager-on-hover"
                style="color: white"
              ></i>
            </a>
          </div>

          <% } else { %>
          <div class="card-buttons">
            <a href="#" class="btn btn-primary">Ajouter au panier</a>
          </div>
          <% } %>
        </div>
      </div>
    </div>
    <% }); %>
  </div>
</div>
